[2018-05-01 06:58] acetylSv opened #1 "Style Token Layer implementation question"
Thanks a lot for this nice implementation, but at section 3.2.2 in the original paper https://arxiv.org/pdf/1803.09017.pdf, the authors mentioned that:

So I am a little confused that in your implementation:

https://github.com/syang1993/gst-tacotron/blob/74af4dd8c3bc246549f1fe6f98b83d21f7353825/models/tacotron.py#L82

Should we first apply the tanh activation to GSTs embedding then compute the mu

[2018-05-01 08:01] syang1993 commented on #1
@acetylSv

Thanks for your comment. To be honest, I'm not sure whether this implementation matches the details of the original paper, since the paper didn't talk much about it.

About the tanh, applying it before or after the attention process could compress the style embedding into the same scale of encoder state.  But as the paper suggested, maybe it's better to apply it before style attention.

[2018-05-09 06:04] lapwing opened #2 "preprocessing the training data"
Thank you very much for your nice work.
I have a problem with preprocessing the training data. The transcript file for `Blizzard2013` segmented data is a file named `prompts.gui` which can be found here:
https://www.dropbox.com/s/6ugwnbqgwlfvxvl/prompts.gui?dl=0
 I was wondering how the `metdata.train` file should look like. It seems that I need to clean up the attached file to be used for trainin

[2018-06-07 08:33] fatchord commented on #1
@syang1993 great work! I'm having a go at this myself in pytorch - just to clarify one thing - the query to the style attention is the hidden state from the reference encoder and both the keys and values are the style tokens right?

[2018-06-07 14:19] syang1993 commented on #1
@fatchord Yes, the query of the multi-head attention is from the reference encoder. The values are the style tokens, and a transform layer is applied to the tokens to get keys like other attention methods.

[2018-06-12 08:44] fatchord commented on #1
@syang1993 Thanks! It makes perfect sense now.

[2018-06-13 03:14] lapwing opened #4 "eval form checkpoints"
Thanks for your nice work. I have trained the model on Blizzard 2013 dataset. The synthesized files from 185k and 385k checkpoints are available in the following link. I used the samples from LJ-Speech (`LJ001-0001.wav`) and Nancy (`nancy.wav`) as reference files for checking the performance. I also included the `mocdel.checkpoint `files and the audio files at each step (`step-185000-audio.wav`, `

[2018-06-13 05:51] syang1993 commented on #4
Yes the voice from the link is a little shaking. Can you share the hyper-parameter and the alignments of the test setences of your experiments?
Besides, I found use the character-leval inputs is better than phoneme-level in my earlier experiments, though the paper used the phoneme inputs.

[2018-06-13 14:31] fazlekarim opened #5 "What would happen if we merged datasets?"
How would the results look like if we combined LJSpeech and Blizzard? Will we get better results?

[2018-06-13 15:18] syang1993 commented on #5
@fazlekarim Since it is an unsupervised way to learn the tokens, it's hard to see what the token means when using multi-speakers.  I guess it's better to add a speaker embedding to the network as another google's paper.

[2018-06-13 16:42] #5 closed

[2018-06-13 18:46] rryan commented on #5
The GST paper covered this, too. Section 7.2:

Tacotron and a 1024-token GST model for comparison. As
expected, the baseline fails to learn, since the multi-speaker
data is too varied. The GST model results are presented
in Figure 7. This shows spectrograms for the same phrase
overlaid with F0 tracks, generated by conditioning the model
on two randomly chosen tokens. Examining the trained
GSTs, we

[2018-06-13 18:58] fazlekarim commented on #5
@rryan With that in mind, can we exploit this and use it for voice conversion?

[2018-06-14 14:23] fazlekarim opened #6 "data feeder error"
after running the code for about 200 steps, I am running into the following error. I can't figure out why. I feel like it should be an easy fix.

self._session.run(self._enqueue_op, feed_dict=feed_dict)
  File "/home/fakarim/anaconda3/envs/gst-tacotron/lib/python3.6/site-packages/tensorflow/python/client/session.py", line 889, in run
    run_metadata_ptr)
  File "/home/fakarim/anaconda3/envs/gst-t

[2018-06-14 15:14] syang1993 commented on #4
@lapwing I updated some codes today, with which the quality of generated speech is much better than before (87K steps). It aslo works with small reduce factor.
[eval-87k-r2.zip](https://github.com/syang1993/gst-tacotron/files/2102924/eval-87k-r2.zip)

I will also eval the performance these days.

[2018-06-14 17:19] fazlekarim commented on #6
I think I am running out of memory. What type of GPU and how many GPU are you using? Is there a memory leakage somewhere? It makes no sense why I run out of memory after around 200 steps.

![image](https://user-images.githubusercontent.com/29384143/41427339-94ce87be-6fd4-11e8-95c1-ab6e21c5f556.png)

[2018-06-14 17:58] fazlekarim commented on #6
fixed it. code is fine. i just over reacted

[2018-06-14 18:57] fazlekarim commented on #4
the new update seems to have set cmu-dict to false. Is that what you used to get those results?

[2018-06-15 02:15] lapwing commented on #4
Thank you very much! sorry for the delay... I have uploaded the files you wanted to the link above, if you still want to take a look.
The quality is very good! Do you have any plans to release the checkpoints?

[2018-06-15 02:32] syang1993 commented on #4
@lapwing Yes, the hparams in the repo is 100% matching to my experiments.

[2018-06-15 02:47] syang1993 commented on #4
@lapwing I didn't see the setting in your link, anyway I guess you can try the new code.

Since I only have one single GPU, it will take several days to test the new code. I'm very grateful if you can help to test the performance.  As for now, I find the quality is better, but the style is learned slower than before(100K steps). I will continue training to see if it can get stable results with and

[2018-06-15 03:14] lapwing commented on #4
Sure! I will do the same and will upload the results so that we can compare. Thanks for your nice work!

[2018-06-15 08:08] lapwing commented on #6
@fazlekarim
I am having a similar issue. How did you solve this?

[2018-06-15 08:24] syang1993 commented on #6
@fazlekarim  @lapwing  It is an OOM error. Since there are some too long sentences, it may throw OOM error at some step. You can fix it by:
1. Recude batch_size or increase the reduce_factor. (Changing reduce factor will affect the performance.)
2. Remove those too long sentences. For example, remove all sentences which are longer than 1200 frames. This will decrease the data size a little, but I

[2018-06-15 11:20] fazlekarim commented on #6
Do you have a script to remove sentences greater than 1200 frames?

[2018-06-16 04:17] syang1993 commented on #6
@fazlekarim A simple way is to modify the data process script as attached.
[blizzard2013.zip](https://github.com/syang1993/gst-tacotron/files/2107869/blizzard2013.zip)

[2018-06-28 07:26] Young-Sun opened #8 "training time"
@syang1993 It's nice work! :-) The latest demo samples are impressing. How long does it take to GST-Tacotron model using segmented Blizzard2013 datasets? And would you let me know GPU specification?

[2018-06-29 11:19] butterl commented on #4
@syang1993  are those samples generated directly from Tacotron ？ the audio quality is amazing

[2018-06-29 13:18] syang1993 commented on #4
@butterl Which sample do you mean? The samples attached in this issues were generated from gst-tacotron repo directly using blizzard 2011 data. The samples in the demo page were also directly genereted from gst-tacotron using blizzard2013 data. I also did experiments with tacotron using bc2011 data, the samples can be found in https://github.com/keithito/tacotron/pull/182

[2018-06-29 13:21] syang1993 commented on #8
@Young-Sun Thanks. I trained this model with my friend's Tesla P40 GPU. It takes about 4 days to get this model using bc2013 data.

[2018-06-29 19:50] #6 closed

[2018-06-30 01:18] butterl commented on #4
@syang1993  thanks for reaching out, I‘ve  tried  keithito/tacotron and  Rayhane-mamah/Tacotron-2 all seems  generate wav with shake & echo like @lapwing’s  sample and even worse（even with wavenet 300K as vcoder）， and your sample wav attached is much clear， and you posted “I updated some codes today” 15 days ago， but I  do not find the exactly patch.

Will try with this amazing repo to reproduce

[2018-06-30 04:01] syang1993 commented on #4
@butterl Maybe you can try the modified keithito's tacotron in my repo, which is forked from the original one and fixed the issues to support small reduce factor. @fazlekarim may have  tried this repo, I'm not sure whether he get good results. And the commit of "I updated some code today" is https://github.com/syang1993/gst-tacotron/commit/ba10ee1a30044d2582f8bf49d7ab158ff0846dd1

[2018-06-30 11:51] butterl commented on #8
@syang1993  Is it normal to run  model training with 3.8s/step ? the hparam is same ,using THCH30 dataset and 16K with max frame limit set to 1500

[2018-07-01 10:40] Young-Sun commented on #8
@syang1993 Thanks for your reply. It would be great help to estimate training time :-)

[2018-07-01 11:38] fazlekarim commented on #4
@butterl I was satisfied with my results. I can show them to you if you are interested?

[2018-07-01 11:39] fazlekarim commented on #8
@Young-Sun I took me about 2 seconds per step. So if you want 200k steps, it'll take around 400k seconds.

[2018-07-02 01:45] butterl commented on #4
@fazlekarim  thanks for reaching out， I'm be very interested in your sample , because mine is much worse with other repo even trained to 400K， and now I will switch to this one and give feed back

[2018-07-02 05:31] fazlekarim commented on #4
This is the only one I have saved in this computer.  Let me know what you think about it.

[eval-227300_ref-original.zip](https://github.com/syang1993/gst-tacotron/files/2153840/eval-227300_ref-original.zip)

[2018-07-02 07:57] #8 closed

[2018-07-03 03:42] butterl commented on #4
@fazlekarim  thanks for reaching out ， the wav is good ，and seem have more shaking than eval-87k-r2.zip @syang1993  shared

@syang1993 I trained in my machine and the result is good， but for eval it failed some times （2/3）
![image](https://user-images.githubusercontent.com/3068190/42197350-f4cc996e-7eb4-11e8-9d45-321e041bd11e.png)

and with use_gst=False the eval  would returns error
[code]

[2018-07-03 04:05] syang1993 commented on #4
@butterl How many steps do you train? Do you also use the BC2013 or BC2011 data?

If you set `use_gst=False`, it means you will not use the style attention, then you must feed `reference_audio` to model during eval.

[2018-07-04 03:42] butterl commented on #4
@syang1993  the training step is 77k
I tried with two experiments on eval:
1. use_gst=True，and feed wav from the training set , the out sometimes fail（not aligned and wav is small）
2. use_gst=False，and with reference_audio path feed，erro turns out to be as below， seems network could not mach
[code]

[2018-07-04 07:39] butterl commented on #4
@syang1993  Thanks!  will wait to see good result.
BTW, could we put the eval mel to r9y9‘s wavenet ?

[2018-07-05 12:42] syang1993 commented on #4
@butterl  There isn't any limitation in text to sequence, there also exists ',' in my demo page.
In my experiments, sometimes the genereted speech ignores some phonemes due to the bad alignments (as well as tacotron 1). I tried location-sensitive attention, the alignment is better.

[2018-07-06 17:18] fazlekarim opened #10 "Sample Alignment Graph"
Hi,

Can you share the alignment graphs that you are obtaining for your audio samples? For most of my alignments, the y-axis is about half of the x-axis. Is there a reason why this is happening? In Keithito's repo, the shared alignment graphs have a 1-1 scale. In other words, the range of the x-axis and the y-axis is the same.

[2018-07-07 02:20] syang1993 commented on #10
@fazlekarim You can find them in the demo page dir:
https://github.com/syang1993/syang1993.github.io/tree/master/gst-tacotron/style-samples

In keithito's tacotron, reduce_factor is 5, in which case the length of characters and frames are similar. But in this repo, reduce factor is 2,  the mel-spec is about 2 times longer than text.

[2018-07-10 02:42] lapwing commented on #4
I think the new code works very well. I trained up to `437k` and you can find the samples generated using you `reference_audio-2.wav` file in the following link:
[](https://www.dropbox.com/sh/8cbrog2mtc8h8xw/AABOTLi0j8-06At3zdrHeQNra?dl=0
)However, I found out that every time I do eval from the same checkpoint I get different results. Why is it so?

[2018-07-11 05:36] jsonko opened #11 "Preprocessing blizzard 2013 data"
Hi,

Thank you for your contribution.
I've tried to train blizzard 2013 data set with your model.
During preprocessing the data, I encountered the error because  _max_out_length is None in datasets/blizzard2013.py (line 8)

Can I set this value as 700 defined in blizzard.py for blizzard dataset ?

Thanks in advance
Jaeseung Ko

[2018-07-11 10:57] Young-Sun opened #12 "multi head attention"
Hi, again.
The code is set to use mlp_attention, now.
Did the uploaded audio demo samples use mlp_attention?
Have you ever experimented using multi head attention? Do you have any audio samples?

Thanks.

[2018-07-11 11:00] syang1993 commented on #11
Hi, it depends on the dataset. For BC2013 data, if you set the max_out_length to 700, it will ignore to much data, beacuse most of the audios are longer than 700 frames. I guess you can get it to 2000.

[2018-07-11 11:05] syang1993 commented on #12
Hi, the `mlp_attention` is part of the multi-head attention. `dot_attention` and `mlp_attention` are two different methods to compute attention weights in multi-head attention. The demo samples are trained using the default settings.

[2018-07-11 23:43] jsonko commented on #11
I checked your latest commit related this and then pre-process data again.
Thank you for your kind response :)

[2018-07-12 03:34] Young-Sun commented on #12
Sorry for mis-understand. Yes, both dot_attention and mlp_attenton are in multi-head attention.
I see, the audio samples synthesized using mlp_attention.
Thanks for your fast and kind reply. :-)

[2018-07-12 03:34] #12 closed

[2018-07-13 05:57] switchzts opened #13 "Tone transfer"
我想知道这个模型是只是去学习你提供语句的韵律而不是音色吗.我能用这个模型用一个人的一句话去模仿他说话的音色吗?

[2018-07-13 06:16] syang1993 commented on #13
The style is learned in an unsupervised way, which means that there is no constraint to make the model only focus on prosody. If you read the other Google's paper, you will find it may also learn some speaker information.

[2018-07-13 06:51] switchzts commented on #13
@syang1993 Thanks for reply, Does it mean that the training data requires sentences of the same person's different rhythms? What is the data in Blizzard Challenge 2013? I am still downloading. Is it a training set for different rhythms of the speaker?

[2018-07-14 05:08] syang1993 commented on #13
The Blizzard 2013 dataset is audio book data of a single speaker, which contains rich prosody. Besides, if you use neural data to train this model, the model will not learn the prosody information. It may work as traditional tacotron.

[2018-07-19 00:15] ZohaibAhmed commented on #4
@syang1993 - is it possible to get the trained model that you used to generate the samples for eval-87k-r2.zip?

[2018-07-19 16:49] fatchord commented on #1
@syang1993 sorry to be bothering you again. I'm just curious if you'd like to swap notes?

I've implemented the gst model in pytorch and the reference audio works quite well. The only problem is using the style tokens themselves without reference audio - I am not getting good results. I'm wondering have you tried using just style tokens? Any luck with it?

I've tried content attention too and agai

[2018-07-20 05:41] syang1993 commented on #4
@ZohaibAhmed Hi, since I'm on a summer vocation these weeks, I will send it to you after I go back to school. Besides, you can get this model using Blizzard 2011 database, it will not take so long time.

[2018-07-20 06:01] syang1993 commented on #1
@fatchord Surely we can communicate and work together! In my earlier experiments, I test the gst-model without reference audio. To achieve this, I used some random weights for the style tokens, sometimes it can generate good audio, but sometimes it cannot.
For the new code, I didn't test it since I'm not at the school this month. But I guess it may suffer the same problem.
I also confused this pro

[2018-07-20 15:53] fatchord commented on #1
@syang1993 My initial thoughts on the problem was that perhaps it was the multi-headed attention. Since it increases the effective number of tokens by num_heads (or is my intuition wrong here?). So when I picked a single style token - it would have multiple 'heads' in it - in other words, the attention mechanism would likely never pick all heads in a single style token at any one time. And same as

[2018-07-21 17:39] syang1993 commented on #1
@fatchord Thanks for your thoughts. I'm also not so sure about the multi-head attention since the paper didn't talk the details. I will also do more experiments after I go back to school to verify this.
If you get future results or conclusions, could you share it to me?

Yeah sometime small mistake will have a bad influence, my earlier repo also has mistakes so that the performance isn't so good a

[2018-07-23 11:29] rishikksh20 opened #14 "How to integrate this code to r9y9's wavenet_vocoder ?"
Is there any way to integrate this code with wavenet vocoder ?

[2018-07-25 08:33] dazenhom opened #15 "Train as a Tacotron1 script problem"
Thanks for your great work, but I found that if I set the hyperparameter `use_gst=False` and run, it seemed different from my understanding of Tacotron1. The tacotron.py code is part of here.
[code]
Original Tacotron1 code shoudn't train with the *reference encoder* part right?
However, your code pass the non-gst mode data into a `reference_encoder`, which sounds strange ?
Maybe we can exchange th

[2018-07-25 08:39] syang1993 commented on #15
@dazenhom Hi, thanks for your notes. In this repo, using `use_gst=False` doesn't mean the tacotron1 model. Google also has another paper, which uses reference encoder to do style and multi-speaker synthesis. You can found it at https://arxiv.org/abs/1803.09047.

[2018-07-25 08:41] syang1993 commented on #14
Hi, the main part of this model is similar to Tacotron1. We can also add the style embedding part to Tacotron2, then integrate it to wavenet to get better results.

[2018-07-25 08:58] dazenhom commented on #15
@syang1993 Thanks for your reply, I took a mistake with Tacotron1 from your work. I shall find another version of Tacotron1 to run my test. Thanks anyway.

[2018-07-25 09:09] rishikksh20 commented on #14
ok, I modified r9y9/Tacotron-2 code and add your style embedding code in that and sees hows it's working.

[2018-07-25 10:16] rishikksh20 commented on #14
@syang1993 what about loss function ?

[2018-07-25 10:39] syang1993 commented on #14
@rishikksh20 The style token is trained under an unsupervised way, I guess we don't need extra loss unless you have a specific purpose.

[2018-07-25 11:00] rishikksh20 commented on #14
@syang1993 thanks! Is it possible to integrate Tacotron 1 with wavenet vocoder, as the GST Tacotron paper has mentioned that they have tested it on Wavenet, so I think it is possible.

[2018-07-25 13:56] syang1993 commented on #14
@rishikksh20 I tried to integrate Tacotron1 with wavenet, but the performance is worse than Tacotron2. Though the paper tested it on wavenet, I guess it's easier to do it with tacotron2.

[2018-07-26 10:17] fatchord commented on #1
So I trained the content based attention for the style tokens and again, I get the same problem. Not sure how to move forward on this problem.

[2018-07-26 10:22] fatchord commented on #1
The only thing I can think of - perhaps the softmax attention is sharpened? That would force the model to choose mainly one style token at any time - thus making it more 'natural' to condition the decoder on a single style token at inference. What do you think?

[2018-07-26 17:29] syang1993 commented on #1
@fatchord Yeah I will check the weights of each tokens to see how it happens. If it always has a large value for one token, maybe this is the problem you mentioned.

But in the paper, they said they found each token had specific meaning, such as speaking speed. I also didn't find this things, and I'm not sure whether  because the limited data.  I'll get more data soon, then I can check it.

[2018-07-26 17:36] syang1993 commented on #14
@rishikksh20 I'm not sure what the "receptive field width" mean in Tacotron1? I did Tacotron 2 before, I guess it doesn't take so much time to train. But actually if you add style embedding and reference encoder to Tacotron 2, it will take more time. And the decoder part in this repo not perfectly match to the paper, I just try to use the style embedding idea to see how it works. I guess you may d

[2018-07-30 08:32] butterl opened #16 "poor alignment with test out-of-collection data"
Hi @syang1993 ,I tried run a 170K+ train test  and the train output is perfect among the many tacotron implementation
But I  notice that with out-of-collection data the output aligned is always mass，I tried with Rayhane-mamah‘s repo（good rhythm but bad voice）， the out-of-collection data always get good rhythm . Do you  got any advice on that ? The reference audio is from the training data

**the t

[2018-07-30 09:02] syang1993 commented on #16
Hi, what do you mean out-of-collection? The reference is from test set of the same speaker or from a different speaker? In my experiments with tacotron1,  I tried unseen text and unseen reference audio (same speaker), the results are good. But sometimes (especially long sentences) it will loss words. Using better attention will improve it.

I guess you mean you add the style attention part to the

[2018-07-31 04:05] butterl commented on #16
@syang1993  thanks for reaching out!

The train dataset is more like news or poetry (THSCH30), and the  “out-of-collection” I mean is unseen text( more like colloquial statements). The gst tacotron perform very good output in trainset text, but turn mass with unseen text, this dosen't comes for Rayhane-mamah‘s repo , Rayhane's sample generate good rhythm on unseen text with same train set but the

[2018-07-31 07:15] karamarieliu commented on #14
has anyone tried GST w/ Tacotron 2 and WaveNet? I am working on it now but don't have results yet so this could be all for naught..

[2018-07-31 09:14] rishikksh20 commented on #14
@karamarieliu could you share your work with me, I am also working on this issue.

[2018-07-31 19:52] fazlekarim opened #17 "Eval on soft voices"
I noticed that regardless of how soft the reference voice is, the output is always loud. Are we really able to capture the style token if we can't detect what is loud and what is soft?

[2018-08-01 00:51] karamarieliu commented on #14
@rishikksh20 I am currently encounter an evaluation error so I'll post it when that is solved. Rn I have T1 with GST and Wavenet if you wanted that. Still testing it but it runs okay. https://github.com/karamarieliu/gst-tacotron-wavenet

[2018-08-01 03:31] rishikksh20 commented on #14
@karamarieliu means GST-Tacotron 1 with wavenet_vocoder running fine ?  Do you have any voice sample of that ?

[2018-08-03 13:47] syang1993 commented on #16
@butterl Hi, in the demo page of this repo, I guess the sentences of id 6-10 are the unseen text. Did you try other attention methods such as location-sensitive one?  It will improve the alignments, since your alignments of out-of-collection data seems 'repeat'.

For tacotron1 implementation, you can use keithito' repo, and fix some issues as https://github.com/keithito/tacotron/pull/182. It will

[2018-08-07 16:54] fazlekarim commented on #1
@fatchord Is your pytorch code available online?

[2018-08-08 09:51] fatchord commented on #1
@fazlekarim not at the minute. It'll probably be online sometime next week or so.

[2018-08-08 16:06] fatchord commented on #1
@syang1993 Not sure if you're aware of it - but new paper from the tacotron crew: https://arxiv.org/pdf/1808.01410.pdf

[2018-08-08 16:33] fazlekarim commented on #1
@fatchord thats so sad! when you are about to come up with something new, they just come up with something even better.

[2018-08-09 09:33] fatchord commented on #1
@fazlekarim That's the way it goes I guess! On the upside, the additional ideas introduced in the paper should be fairly straightforward to implement.

[2018-08-10 07:20] syang1993 commented on #1
@fatchord Thanks for the remind! I just toke a look at it yesterday, as you said, it's easy to implement it since they only added an extra module to predict the style embedding from text.

[2018-08-10 10:42] fatchord commented on #1
@syang1993 One other thing - I had a look at the Blizzard2013 dataset, and it looks like they stripped out all the quotation marks. I think this could be a problem because the woman narrating changes her voice style dramatically when the text is in quotes. Without them, the model should find it more difficult to model prosody I think.

[2018-08-16 06:37] zyj008 commented on #10
@fazlekarim  I have the same problem with you that the y-axis is about half or even more of the x-axis. How did you solve the problem？

[2018-08-17 07:16] zyj008 opened #18 "the model is hard to converge with LJSpeech"
Hi! Thanks for your contribution! I have trained the model on LJSpeech dataset with your codes. But I found the loss is not converge with your default hparams. Here are some results on tensorboard. Could you give me some advice?
1.	batch_size=32 lr=0.002
![image](https://user-images.githubusercontent.com/24356519/44252886-5865da00-a230-11e8-83e3-a13acc0ffc6b.png)

2.	batch_size=32 lr=0.001
![image

[2018-08-23 11:59] moonctl opened #19 "poor alignment when synthesizing long sentences"
Thank you for your work! It helps a lot.
I want to ask whether your alignment is good when synthesizing sentences more than 10 words, like about 20 words. The paper said 'the model fails when conditioned on the shorter source phrases, successfully aligns when conditioned on the longest input.' The reference audio I used are about 20 words, but only when synthesizing shorter sentences, it works wel

[2018-09-11 08:58] serxhio commented on #18
if it can help, i used the default hparams with ljspeech 1.1 and the training started to produce intelligible sound on 18k step

![step-18000-align](https://user-images.githubusercontent.com/2794823/45349306-318d9000-b5b1-11e8-81e1-3f58574a7682.png)

I'd recommend to restart training but i'm not sure, since it seems there is some randomization that might shift convergence

[2018-09-18 03:28] GengwangGitHub commented on #13
@syang1993  hi，thansk for your nice work。as you mentioned above:"Besides, if you use neural data to train this model, the model will not learn the prosody information. It may work as traditional tacotron". What do you mean: neural data?  Now, learn from your published code, my model hardly learns the prosody information and how can I next

[2018-09-26 23:21] mohsinjuni opened #20 "poor alignment when conditioned on reference audios"
First of all, thanks very much for taking out time to implement this. I have listened to Audio Samples [here](https://syang1993.github.io/gst-tacotron/) and the results are amazing. However, I am unable to replicate this behavior. Could you please help?

I have trained gst-tacotron for 200K steps on LJSpeech-1.1 with default hyperparameters
[SampleAudios.zip](https://github.com/syang1993/gst-tacot

[2018-09-27 03:32] syang1993 commented on #20
Hi, I guess there is a mismatch between your reference and training audio. In my demo page, I trained the model with Blizzard2011 data. Before that, I random select 500 sentences as test set, which is used to provide reference audio. So for your experiment, the reference audio is from Blizzard2011 database, but your model was trained with LJspeech data.

I'm sorry that now I'm an intern at Tencent

[2018-09-27 21:40] mohsinjuni commented on #20
Hi.. Thanks for your quick response. I was under the impression that I can use any reference-audio (as a style) and use the model to generate new voice in the referenced-audio style. Does it matter which reference I use? Does it have to be from the same distribution as training data? My assumption was that model learns training-data distribution automatically and generates new audio/wav files with

[2018-10-16 04:10] hyzhan commented on #15
I have try “use_gst=False”， but it seems to be the same as tacotron1？ Although the refnet_outputs will change, but the generated audio will hardly change with different reference audio.

[2018-10-18 11:53] dazenhom commented on #15
@hyzhan  In my experienc, maybe it's because of your data. If you use some expressive speakers as your trainning data and do the inference, the speech can be different(changed with the reference audio) . Otherwise,  it can remain little different as you mentioned.

[2018-10-30 10:07] sujithpadar opened #21 "Training Multi-Speaker Model."
Hi,
I had success while using this model for single speaker data,
But I am not sure how to scale it for a multi-speaker setting.
Is it just changing the data or should there be some changes to the model?
Have anyone tried this before??

[2018-10-30 14:20] syang1993 commented on #21
@sujithpadar I modified this code to train a multi-speaker model using 4 speakers and it works. If you want to train multi-speaker model, you need to add an extra speaker embedding, and feed speaker information into model. You can see another paper " Towards End-to-End Prosody Transfer for Expressive Speech Synthesis with Tacotron".

[2018-10-31 10:35] sujithpadar commented on #21
@syang1993 Thanks a lot for the quick response, Really appreciate it.
Looking at the paper I could gather that,
1) I need to concatenate speaker embedding to the encoder output and there is no change in the Cost function.
2) I need to add the speaker Identifier for the model as well.

I found such an implementation here,
https://github.com/keithito/tacotron/tree/multispeaker

Can I take this as th

[2018-11-01 13:19] syang1993 commented on #21
@sujithpadar Hi, you are right. You only need to add speaker embedding and concat it with style embedding. Thus you only need to modify dataset.py, tacotron.py and small changes in train.py.

I'm sorry that now I'm interning at a company, so now I cannot upload any code about my work .

[2018-11-01 17:02] sujithpadar commented on #21
@syang1993 Thanks a lot, I think I'll be able to manage that.

[2018-11-01 17:02] #21 closed

[2018-11-06 10:49] peter05010402 commented on #4
@lapwing could you share the hyper-parameter?
The PT couldn't be reload with default hyper-parameter
Thank you!

[2018-11-06 16:38] peter05010402 commented on #4
@syang1993 Hi, Could you send me the trained model that you used to generate the samples for eval-87k-r2.zip?  Thank you!

[2018-11-16 03:44] abuvaneswari commented on #10
@syang1993, in my case, all the alignment graphs generated at the point of checkpoints (every 1000 steps) turn out to be the way described by @zyj008. I attach a sample png:

![gst-step-1147000-align](https://user-images.githubusercontent.com/15253225/48596650-fe0c1080-e927-11e8-8d81-929bd062ce4d.png)

If I use regular Tacotron from keithito, the range of both axes turns out to be right about the

[2018-11-16 03:45] wanshun123 opened #22 "core dumped error when preprocessing ljspeech dataset"
I have the LJSpeech dataset in /database/LJSpeech-1.0 and am trying to preprocess it as follows:

`sudo python3 preprocess.py --dataset ljspeech
`

This results in the following:

Wondering if others have ran into this or it's just an issue with my machine.

[2018-11-16 04:07] syang1993 commented on #10
@abuvaneswari Hi, as I described above, the x-axis means the length of mel-spectrum and the y-axis means the number of characters. The alignment path (attention matrix) only shows the weights between each character and each frame. In you attached image, there are about 70 characters, and the corresponding audio has about 250 frames. I use reduce_factor=2 so the number is about 125, if you use redu

[2018-11-16 05:09] syang1993 commented on #22
Hi, I guess you need to check your environment of your machine to see what happened, especially the tensorflow version.

[2018-11-18 10:55] ishandutta2007 commented on #4
@lapwing can you share the 437k model ?

[2018-11-19 01:04] wanshun123 commented on #22
Appears to have been an issue with my machine and different versions of tensorflow, CUDA and nvidia drivers - in the end it looks to be running with the following:

CUDA 9.0
tensorflow-gpu 1.5
cuDNN 7.0.4
NVIDIA-SMI 384.81

Using the latest versions of everything failed.

[2018-11-19 01:04] #22 closed

[2018-11-19 23:55] wanshun123 opened #23 "Training with custom data"
Curious if others have achieved reasonable results training on custom data. I've tried training the model on data from https://github.com/aomv/voiceloop-in-the-wild-experiments/tree/master/data/donald-trump/data (which has audio files and transcriptions of a few seconds in length, for somewhere around a couple hours in total) making a metadata.csv file in the same format as the LJSpeech dataset.

[2018-11-23 07:13] begeekmyfriend opened #24 "Why there is some blank in the sythesized wav file when we use reference audio generation?"
Hello, thanks for your brilliant job!

I used `LJSpeech` dataset to train out a model and synthesized several sentences with some reference audio. But I found that there is some blank in the middle of the resulting evaluation wav file if we comment out the `audio.find_endpoint` method in `synthesizer.py`. It looked like as follows:
[eval-73000_ref-15_am_m-3.zip](https://github.com/syang1993/gst-ta

[2018-11-24 15:27] ishandutta2007 opened #25 "Throws "data must be floating-point" exception after 1k steps"
Running on LJ dataset.
Basically this is the line where it's breaking
https://github.com/syang1993/gst-tacotron/blob/b455ed21bf0c08e557dde0aaafaf40a1b4df5265/train.py#L115

[2018-11-26 08:31] syang1993 commented on #25
@ishandutta2007  Hi, I guess it is caused by the librosa version. You can modify how to write wave with your environment.

[2018-11-26 09:32] syang1993 commented on #25
Hi, I'm so sorry that I'm now doing an internship in a company, I cannot get the pre-trained model (I trained it several months ago when I was doing visiting research in Singapore). You can train it by yourself, it may take about 3 days to get 200K steps.

[2018-11-26 09:38] ishandutta2007 commented on #25
Well on my gtx 1080 as per my estimate it's taking longer(maybe twice of that). And it is also not always about time, now a days people in the ML world are burning huge amount of compute hours and money unnecessary when sharing can solve it a lot.
Can you share your email/linkedin/twitter etc , you seem to be really deep into Speech Synthesis, keeping in touch may be useful for both of us.

[2018-11-26 09:48] syang1993 commented on #25
I trained it on P40, which may be faster. Yes you are right, sharing can solve a lot. Maybe this is the purpose of Github :)

I'm not so familiar with linkedin so that I don't know how to share my id, this is the link https://www.linkedin.com/in/yang-shan-182987119

[2018-11-26 10:12] ishandutta2007 commented on #25
So in China do you use Ushi or Mamai ? Let's see if I can connect via them too. :)

[2018-11-29 04:34] ishandutta2007 commented on #25
Thanks @syang1993 for the connect. I have triggered the run on our gtx 1080, it would take a month or so to get 500-600 iteration. We need to get it right close to google's performance or else it is unusable for real life scenarios. If you have access to more powerful GPUs, It would be a great favour if you could do a train for larger iterations and share the model with the community.

[2018-11-29 05:07] syang1993 commented on #25
@ishandutta2007 Usually, google tends to use a lot of GPUs to train such a model. And they use about 200 hours data to get their performance. So I think it's hard to reconstruct their performance. By the way,  one of my friend begins to train a model use this repo, I can share it when it's finished.

[2018-11-29 07:45] syang1993 commented on #25
@ishandutta2007 We mostly use wechat in China, and my wechat id is ys_think . I also use linkedin (not usual) and gmail: syang.mix@gmail.com

[2018-11-29 08:00] #25 closed

[2018-12-02 14:35] harismuneer opened #26 "Pretrained Model"
Can anyone share his pretrained model? That would be of much help.

[2018-12-02 16:19] XiaooaiX opened #27 "how long will I wait for the Blizzard dataset confirmation?"
Hi syang, thanks for ur posts very much! Now I wanna download the Blizzard 2013 dataset and have registered on the website  http://www.cstr.ed.ac.uk/projects/blizzard/2013/lessac_blizzard2013/, I received an email informing my registration afterwards, which said I should wait for 1 to 2 weeks to be confirmed, but I wanna use the dataset right away in these days! I'd like to ask that how long have

[2018-12-03 02:41] XiaooaiX commented on #27
sigh...

[2018-12-03 02:43] ishandutta2007 commented on #27
@XiaooaiX  are you a speech synthesis researcher ?

[2018-12-03 03:04] XiaooaiX commented on #27
yep ^_^ and u ?

[2018-12-03 04:07] ishandutta2007 commented on #27
I am mostly a developer, and had soe experince in ML. Here explore possiblities to build an end to end speech product.
For mutual benefits feel free to stay connected , here are my details:
-  google hangout/gmail: ishandutta2007@gmail.com
-  whatsapp: +919952917263
-  wechat: ishandutta2007offi
-  linkedin https://www.linkedin.com/in/ishandutta2007

[2018-12-04 06:18] raynor08 commented on #26
It would be awesome if @syang1993 or someone can share the pretrained model since getting the blizzard dataset takes a long time :)

[2018-12-06 08:02] simonkingedinburgh opened #28 "Please update link to Blizzard data"
Could you change the link in "This set was trained using the Blizzard 2013 dataset with and without global style tokens (GSTs)." to point directly to the data, rather than to the Challenge page, because a few people don't read the page carefully enough and think they need to sign up for the Challenge to get the data, which is not the case. Here's the direct link to use: http://www.cstr.ed.ac.uk/pr

[2018-12-06 09:46] syang1993 commented on #28
@simonkingedinburgh Hi Prof. Simon, I'm sorry for that.  I will update the link to the data.

[2018-12-10 12:46] bitwangyujia opened #29 "How to achieve style embedding with different weights of each token without reference audio?"

[2018-12-11 01:30] bitwangyujia commented on #29
What's the specific definition of the ten style tokens?

[2018-12-17 02:06] liangshuang1993 commented on #20
@mohsinjuni  Hi, I'm in the same situation like yours, have you figured out if reference audio can be any audio or must be in the same dataset? Thanks.

[2018-12-17 06:53] ErnstTmp opened #30 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Incompatible shapes: [12,2262,80] vs. [12,2000,80]"
Hi,
thank you very much for creating Tacotron GST!

I have to run on Titan X, and I had to change the batchsize to 16.

after 32 iteration I get

tensorflow.python.framework.errors_impl.InvalidArgumentError: Incompatible shapes: [12,2262,80] vs. [12,2000,80]

Have you seen this before?
I am running Tensorflow 1.12.
Thanks and kind regards
Ernst

[2018-12-17 07:06] syang1993 commented on #30
@ErnstTmp Hi, it is because your data is too long. `outputs_per_step` * `max_iters` is the maximum number of training data. Your can change the `max_iters` to fit your data or throw these too long data (if there are only a little long sentences).

[2018-12-17 07:28] ErnstTmp commented on #30
@syang1993: thanks a lot for the fast answer. I forget to mention I am trying the blizzard2013 dataset. I changed max_iters from 1000 to 600, ut I got the same error.

[2018-12-17 07:30] syang1993 commented on #30
@ErnstTmp It's the maximum number of your data, you should increase the `max_iters`.  Or you can decrease the `_max_out_length` to make it less than 2000 in blizzard2013.py.

[2018-12-17 18:27] ErnstTmp commented on #30
Great, that works - thanks!!!

[2018-12-17 18:27] #30 closed, assigned to nobody

[2018-12-18 01:05] #29 closed, assigned to nobody

[2018-12-19 22:50] ErnstTmp opened #31 "GMM Attention"
I am currently at SLT2018 and talked to Daisy Stanton about some problems I had training another Tacotron implementation on my data. She mentioned it is crucial to use GMM Attention. I started to implement it, but then I found there is also a models/gmm_attention_wrapper.py in GST-Tacotron.
Is this GMM-Attention working, and if yes, how can it be turned on?

Thanks and kind regards
Ernst

[2018-12-20 05:07] syang1993 commented on #31
@ErnstTmp Yes, I heard that GMM Attention is important. In this repo, I tried the included gmm_attention, but I didn't get better results. Maybe there are some problems in this implementation, but I had to do another thing so I don't modify it any more. I would be very appreciate if you can share your implementation about it.

By the way, could you share the collected papers of the SLT 2018?

[2018-12-20 21:41] ErnstTmp commented on #31
@syang1993 If it works, I will definitely share it.I am also not sure if it is needed. Daisy mentioned that it helps to generalize to longer utterances if you train only on speech segments that are 5 secs or shorter. But I had convergence problems with another Tacotron implementation, and she said the missing GMM attention could be the reason. So I have to try...

Re papers - can you write me a PM

[2018-12-21 03:34] syang1993 commented on #31
Yeah, I was also told that GMM attention is important to get good results. I may try it later to see whether it works.

Thanks, I will send you a email about it.

[2018-12-25 09:19] ErnstTmp opened #32 "No clear speech"
Hi,
I trained the Tacotron GST with the default hyperparameters (batchsize 12 for memory reasons) for 6 days (232000 iterations) on a Titan X on the blizzard 2013 dataset, and the alignments are only partly linear, and the end of the text repeats several times, see enclosed file. The end plus the word test are not understandable.
Is this caused by the batch size?
![eval-232000_ref-ca-bb-42-08-alig

[2018-12-25 10:22] ishandutta2007 commented on #32
Can you share the model till now.

[2018-12-25 21:31] ErnstTmp commented on #32
Sure, the model is at https://www.dropbox.com/s/fl1vqfz6611s8zw/checkpoint234000.tar?dl=0

[2019-01-09 08:40] MengLiPKU commented on #32
Do you have any idea now?  I'm facing the same problem

[2019-01-09 09:29] syang1993 commented on #32
Hi, sorry for the late reply.  In my early experiments, I found only when I use some unseen reference audio, the generated sometimes would become bad.

And I think the batch size will affect the quality and stability. I also find multi-gpu training for tacotron is better than single GPU model.

I guess you can reduce the head number (better token diversity) and modify the attention mechanism as we

[2019-01-10 21:58] ErnstTmp commented on #32
Thanks a lot for your help - batch size seem to be the problem. I had to reduce the batch size due to memory limits - and this seem to have caused the problems.
- I will retry with batchsize >= 32 and multi-gpu if possible.

[2019-01-10 21:58] #32 closed, assigned to nobody

[2019-01-26 07:30] renerocksai commented on #4
At the top of `eval.py`, before anything else is imported, I put

[code]
This sets a fixed seed for all random number generators that could be involved - and it does the trick. Now, I don't see any random numbers used in the gst-tacotron code itself that would cause randomness at inference time, but maybe something's going on in some imported lib. Anyway, the fixed seeds lead to reproducible resul

[2019-01-26 07:35] renerocksai commented on #31
@ErnstTmp I am interested, did you get GMM attention to work?

[2019-01-27 08:00] ErnstTmp commented on #31
@renerocksai I stopped working for it since I found out that my biggest problem was the btach size that prevented me from getting good results. I think min batchsize of 32 is necessary for good results from Tacotron.

[2019-01-28 19:58] ZohaibAhmed commented on #32
@ErnstTmp Did you attempt it with multi-gpu at a higher batch size? Was keen on seeing if the results were better.

[2019-01-28 20:21] ErnstTmp commented on #32
I switched temporarily to Tacotron-2, and that works with single GPU with more memory (16 GB) and batchsize 32.
Also, I could increasing the number of parallel outputs to be able to run batchsize 32 on a 12 GB GPU.

[2019-02-04 13:13] eyaler commented on #25
just hit the same error. @ishandutta2007 how did you get around this?

[2019-02-05 00:33] eyaler commented on #25
i solved it by changing util / audio.py / save_wav() :

` librosa.output.write_wav(path, wav.astype(np.int16), hparams.sample_rate)`

to

` librosa.output.write_wav(path, wav, hparams.sample_rate)`

[2019-02-25 21:39] jdosoriopu commented on #29
hi, did you figure this out?

[2019-03-30 17:11] abuvaneswari commented on #1
@syang1993 is there an update to this repo with the TP-GST feature?

[2019-05-29 10:50] freds0 commented on #21
@sujithpadar, did you succeed in developing a multi speaker version? If yes, can you share it?

[2019-06-20 22:42] Charlottecuc opened #33 "Some problems when preprocessing ljspeech dataset"
Hi. Thank you very much for your nice job.

I installed tensorflow 1.4 with GPU and the other packages mentioned in `requirements.txt`. However, when I tried to run `python3 preprocess.py --dataset ljspeech` , I got the following problem:
![image](https://user-images.githubusercontent.com/43811904/59885714-21aea200-93b4-11e9-9b84-a92e1a198da0.png)

Then, I upgraded numpy to the newest version, the

[2019-06-20 23:08] Charlottecuc commented on #33
Solved.

It seems that I shouldn't install tensorflow before installing the other packages.

[2019-06-23 12:32] its-sandy opened #34 "Reference Encoder Padding"
How do we ensure that the padding of the reference mel spectogram is taken into account when the reference encoder is applied on a batch of mels?

[2019-07-11 21:50] pnwseeker opened #35 "where do you insert or import wav file of models voice for training?"
Hi ,  I have been looking at many different repos  of tacotron here and there and I get a bit confused as I am much of a novice.   I see everywhere on all repos the same instructions but none of them are specific on where in the process do I import the audio recording of my voice so that it can be trained into a new model?   where do i put my wav file of my voice?  How long of a sample should it b

[2019-09-04 04:49] LEEYOONHYUNG opened #36 "Why use the 'tf.layer.conv1d' for query, key transformation instead of fully connected layer?"
Considering that the query and key have a timestep of 1 from the perspective of 1d convolution, I think that it is totally same with using the fully connected layer.

Is there any reason for using the tf.layer.conv1d for query, key transformation instead of fully connected layer?

[2019-10-22 05:09] shrinidhin opened #37 "Error in datafeeder.py"
Traceback (most recent call last):   File "/speech/Demo/gst-tacotron-master/datasets/datafeeder.py", line 75, in run     self._enqueue_next_group()   File "/speech/Demo/gst-tacotron-master/datasets/datafeeder.py", line 87, in _enqueue_next_group     examples = [self._get_next_example() for i in range(n * _batches_per_group)]   File "/speech/Demo/gst-tacotron-master/datasets/datafeeder.py", line 87

[2019-10-22 05:28] shrinidhin commented on #20
Hi, I have a similar question. Has anyone found a solution for the same?

[2019-10-22 07:29] shrinidhin opened #38 "Path for Reference Audio"
If I have to implement the second paper by setting the use_gst hyper parameter to false, where is the path for the reference audio for training to be provided?

[2019-10-30 06:07] shrinidhin commented on #37
I have resolved the issue. It was an issue with the size of my input data.

[2019-10-30 06:07] #37 closed, assigned to nobody

[2019-11-04 08:14] 1105060120 opened #39 "erro in eval.py"
hello.guys,when i do python eval.py --checkpoint /media/guo/Program/log/gst-tacotron/logs-tacotron/model.ckpt-12000 --text "hello text" --reference_audio /media/guo/...
i met this erro.what is the path of reference_audio thank you

[2019-12-03 02:08] miyoungvkim opened #40 "Check failed: dnnReLUCreateBackward_F32"
Hello :D

I'm trying to use gst-tacotron with blizzardchallenge2013 datasets.

When I try to training, I met check failed error. (It same to use gst true option..)

so, I ask about below...

I just try to training so, I didn't change base code.
May I get some idea for solve this problem??

Here is my log

---------------------
**1. when I use gst_false option ..**
gst-tacotron_gst_false# python tr

[2019-12-03 02:24] syang1993 commented on #40
Hi, I guess it is all because of your environment. It's from the MKL.  Since this code is from TensorFlow 1.6, which is a little out-of-data and very different from current version of TensorFlow.

[2019-12-03 02:25] syang1993 commented on #39
Sorry for the late reply since I don't check the GitHub these days. The reference_audio is the audio that you want to copy style from.

[2019-12-03 02:26] syang1993 commented on #38
Sorry for the late reply since I don't check the GitHub these days. If you don't want to use gst, the reference audio is the same with the target audio during training.

[2019-12-18 08:07] niu0717 opened #41 "can we synthesis speaker-A's tone with speaker-B's prosody?"
when i read gst paper, i found it contains not only the token but also the tone of the speaker. In other word, can we separate prosody from the ref audio as much as possible?

[2019-12-20 03:47] niu0717 commented on #29
hi, did you figure this out?

[2020-01-10 06:27] Thien223 opened #42 "What is in reference audio path?"
Dear @syang1993. Thank you for your efforts and the kindness of sharing with us.

I have 1 question about this project. Hit me if i was wrong.

As I am understanding, when training, reference mel will be target melspectrogram.
And when synthesizing, we need pass the reference audio path. I could not understand which are in that path? Reference mel-spectrograms of all type of audio (angry, happy, s

[2020-02-14 16:21] ashish-roopan commented on #28
But its still asking for sign up after clicking the download link.
Please help me if I am missing out something

[2020-02-14 16:26] ashish-roopan opened #43 "Pretrained Weights"
Is the pretrained weights of this model availabe for download?

[2020-03-18 11:36] CruelPaw commented on #2
Do you know what the other information is? I can't understand what the 3rd line in prompt.gui mean. Following is an example

[2020-07-17 09:15] polvanrijn commented on #26
@syang1993, just confirmed he has no access to the pre-trained models anymore. So we can close this issue. If anyone else has a pre-trained model, she/he can post a link to it here.

Issue can be closed.

[2020-07-17 09:15] polvanrijn commented on #43
Duplicate issue, see #26

[2020-08-03 01:53] niu0717 commented on #29
hi, did you figure this out?

[2020-08-03 01:55] niu0717 commented on #29
I want to know the same thing.
thx!

[2020-09-01 13:37] xiaochunWu commented on #28
@simonkingedinburgh Hi simon, I just click the link above, but its still asking for sign up. Have the rules changed?

[2020-09-04 08:36] simonkingedinburgh commented on #28
If by "sign up" you mean that you have to agree to and sign a legal document (the license agreement) then yes of course you have to do that. It's a requirement of the data owner.

[2020-10-02 16:58] Anchit1999 opened #44 "Unable to reproduce results"
Hi, I am using this exact code with same hyperparameters but the results produces are no way close to the sample results shown in this repository.
I have tried training using both LJSpeech and Blizzard dataset. Output from both the models have some noise present in it. What could be the possible reason?

[2020-10-11 07:42] niu0717 commented on #1
@fatchord  it is very helpful if you can share your pytorch repo. : ) !

[2021-01-11 16:01] a-froghyar opened #45 "Mumbling in synthesis"
Hey, thanks for the implementation @syang1993!

I'm using this code to implement another paper and I've bumped into some issues during synthesis. I'm getting good alignment on training and the interim synthesised  results sound good, however during evaluation, the synthesis is very unpredictable and sometimes fails to synthesise understandable speech. It rather sounds like mumbling. It's not only

[2021-02-15 08:03] EFHIII commented on #45
This paper attempts to address this
https://arxiv.org/abs/1910.10288
https://google.github.io/tacotron/publications/location_relative_attention/index.html

There appears to be a PyTorch implementation
https://github.com/bshall/Tacotron

[2021-02-28 18:01] JSee98 commented on #26
Hi Guys, can anyone post their pre-trained models if possible. It would be really helpful. Thanks in advance :)

[2021-04-24 12:40] kuldip-barot commented on #44
Hey. @Anchit1999, can you please help me understand what structure you have maintained for Blizzard 2013 dataset in order to train ?

[2021-06-15 16:17] iamanigeeit commented on #23
@wanshun123 Did you train using `use_gst=False`? I have the same issue when `use_gst=False` but not when `True`.

@syang1993 In my case the audio seems intelligible, although not good quality. I am using the Emotional Speech Dataset from https://hltsingapore.github.io/ESD/download.html

The English data shows similar attention "collapse". The Chinese data is ok.

![step-190000-align](https://user-

[2021-07-22 03:59] luantunez commented on #4
Hello! Thank you for your work! Could you send me the pretrained model please? luantunez95@gmail.com

[2021-10-06 06:38] hariduttt opened #46 "Regarding the trained model"

[2021-10-06 06:40] #46 closed, assigned to nobody

[2021-10-06 06:50] hariduttt opened #47 "Using pre-trained model of Keithito's tacotron implementation"
As @syang1993 has mentioned in the README that this is based on Keithito's implementation of Tacotron. I tried to compare training script for both the projects (this one and Keithito's implementation) and it seems pretty similar. So I was wondering if there is any way I could use Keithito's pre-trained model here to synthesize speech. Right now I am getting the following error while attempting to

[2021-11-12 03:48] zh1yu4nyu opened #48 "Add style weights when there is no reference audio"
Hi when I check the code of eval.py, I can see that the functionality to add style weights when there is no reference audio is still to be done. Any hints of how to implement it? Thank you!

[2021-12-10 17:23] Mihir-Gajera1 opened #49 "shape of linear_outputs is not same as while training"
I have trained model with english data. Training is also converged and it is generating good wav samples from training data at checkpoint time. While evaluating trained model it takes too much time due to below reason and producing noisy output.

`linear_outputs` = tf.layers.dense(post_outputs, hp.num_freq)           # [N, T_out, F]
shape of linear_outputs is `[1,200000, 1025]` (while evaluating)

[2022-01-18 11:09] Adibian opened #50 "training stops many seconds to create new queue of data"
Hi
When I start training, time of train of any step is good and it uses GPU but after 32 steps (if `_batches_per_group=32` in datafeeder) GPU utilization going to 0 and after many seconds the queue of data becomes ready and again training starts.
I saw datafeeder.py and it uses threading for queue of data but why it stops training?  How can I increase GPU utilization?
I increased `_batches_per_gro